p This is the partial for view 2.
iframe(height="600", width="800", src="http://geojson.io/#id=github:landonreed/plan-git/blob/master/plan2040/AT-267.geojson&map=10/33.7306/-84.3709")
p
  | Showing of 'interpolate' filter:
  | {{ 'Current version is v%VERSION%.' | interpolate }}
